body{
  padding: 33px;
}
.title {
	color: #8E001C;
}
p {
  color: #f5f5dc;
}

li {
  color: #CBC3E3;
}
b {
  color: #FFDE21;
}
a {
  color: #ffffff;
}
i {
  color: #BC13FE;
}
nav {
  color: #ffffff;
  margin: 3px;
}
.about {
  font-family: 'Orbitron';
  color: whitesmoke;
  font-size: 33px;
  line-height: 1.6; 
  margin-bottom: 1em;
  font-weight: bold;
  background-color: rgb(255, 58, 58);
}
.dogma {
  font-family:'Times New Roman', Times, serif;
  color: peru;
  font-size: 33px;
  line-height: 0.8;
  margin-bottom: 1em;
  font-weight:bold;
  background-color: whitesmoke
}
h2 {
  color:#FFDE21;
}
.deus {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 77px;
  color: #FCEBC4;
}
a:hover {
  color:rgb(186, 215, 240);
  text-decoration:underline;
  text-shadow: 0 0 5px #FFDE21;
}