body{
  padding: 33px;
}
.title {
	color: #8E001C;
}
p {
  color: #f5f5dc;
}

li {
  color: #CBC3E3;
}
b {
  color: #FFDE21;
}
a {
  color: #ffffff;
}
i {
  color: #BC13FE;
}
nav {
  color: #ffffff;
  margin: 3px;
}
.about {
  font-family: 'Orbitron';
  color: whitesmoke;
  font-size: 33px;
  line-height: 1.6; 
  margin-bottom: 1em;
  font-weight: bold;
}
h2 {
  color:#FFDE21;
}